body{
    background-color: black;
}

.list__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.butt{
    position: fixed;
    top: 20%;
    margin: 1rem;
}