.img__container {
  display: flex;
  justify-content: flex-start;
}

.root{
    width: 100%;
}

.Table{
    min-width: 750px;
}

.text {
  margin: 10px;
}

.progress{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.tableCellContainer {
  display: flex;
  justify-content: flex-start;

}

.tableRow {
  cursor: pointer;
}
